@import url(popup.css);

.page {
    background-color: rgb(236, 191, 95);
    padding: 300px;
}
.headword {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.testwords {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}
.testword {
    min-height: 60px;
    background-color: bisque;
    cursor: pointer;
    border-radius: 2px;
}
.verdict_true {
        width: 200px;
        height: 200px;
        background-color: chartreuse;
}
.verdict_wrong {
    width: 200px;
    height: 200px;
    background-color: red;
}

